body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 130%;
  text-align: center;
  background-color: rgb(245, 248, 252);
}
header{
  background-color: rgb(186, 220, 198);
}
nav{
  background-color: rgb(214, 236, 223);
}
main{
  background-color: rgb(255, 255, 250);
  font-size: 150%;
  font-style: italic;
}
footer{
  background-color: rgb(160, 196, 255, );
  color: rgb(40, 40,40);
}
li{
  display:inline-block;
  width: 200px;
}
h1{
  text-align: justify;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
  }
  p{
    line-height: 30px;
  }
  title{
    text-align: center;
  }